<div class="container">
    <h1>Listagem de Veiculos</h1>
    

    <table class="table table-striped">
        <thead>
              <tr>
                <th>ID</th>
                <th>PLACA</th>
                <th>MODELO</th>
              </tr>
        </thead>
        <tbody>
              <tr *ngFor="let veiculo of veiculos">
                <td>    {{ veiculo.id }}</td>
                <td>    {{ veiculo.placa }}</td>
                <td>    {{ veiculo.modelo }}</td>
                <td id="links">
                  <a  href="#" [routerLink]="['/veiculos/' , 'view' , veiculo.id]" class="btn btn-info">View</a>
                  <a  href="#" [routerLink]="['/veiculos/', 'edit' , veiculo.id]" class="btn btn-primary">Edit</a>
                  <button type="button" (click)="deleteveiculo(veiculo.id)" class="btn btn-danger">Delete</button>
                </td>
              </tr>
        </tbody>
    </table>
</div>