<div class="home-imagem">
    <div class="imagem-dodge"></div>
    <div class="bordao-anuncio">
        <p class="bordao" id="paragrafo">Serviço de Qualidade</p>
        <h1 class="bordao" id="titulo1">Tudo </h1>
        <h1 class="bordao" id="titulo1">Para</h1>
        <h1 class="bordao" id="titulo2">Seu </h1>
        <h1 class="bordao" id="titulo2">Veículo</h1>
        <div class="link-bordao" class="bordao">
                <p>nossos serviços</p>
                <p>saiba mais</p>
        </div>
    </div>
</div>

<div class="home-texto">
    <div class="texto1" class="barra-lateral">
        <h1 class="home-texto-titulo">Quem Somos?</h1>
        <p class="home-texto-paragrafo">lorem ipsum lorem ipsum  lorem ipsum lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsumm</p>
    </div>
    <div class="texto2" class="barra-lateral">
        <h1 class="home-texto-titulo">Quem Somos?</h1>
        <p class="home-texto-paragrafo">lorem ipsum lorem ipsum  lorem ipsum lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsumm</p>
    </div>
    <div class="texto3">
        <h1 class="home-texto-titulo">Quem Somos?</h1>
        <p class="home-texto-paragrafo">lorem ipsum lorem ipsum  lorem ipsum lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsumm</p>
    </div>
</div>

<div class="home-localizacao">
    <img src="https://images.carprices.com/pricebooks_data/usa/colorized/2022/Ford/View2/Mustang_Shelby/GT500/P8S_YZ.png" alt="carro esportivo">
</div>