<div class="container">
    <h1>Update veiculo</h1>
   
    <a href="#" routerLink="/veiculos/todos" class="btn btn-primary">Back</a>
          
    <form [formGroup]="form" (ngSubmit)="submit()">
    
        <div class="form-group">
            <label for="rodas">Rodas:</label>
            <input 
                formControlName="rodas"
                type="text" 
                [(ngModel)]="veiculo.rodas"
                class="form-control">
            <div *ngIf="f['rodas'].touched && f['rodas'].invalid" class="alert alert-danger">
                <div *ngIf="f['rodas'].errors && f['rodas'].errors['required']">rodas is required.</div>
            </div>
        </div>
           
        <div class="form-group">
            <label for="placa">Placa:</label>
            <input 
                formControlName="placa"
                type="text" 
                [(ngModel)]="veiculo.placa"
                class="form-control">
            <div *ngIf="f['placa'].touched && f['placa'].invalid" class="alert alert-danger">
                <div *ngIf="f['placa'].errors && f['placa'].errors['required']">placa is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="modelo">Modelo</label>
            <textarea 
                formControlName="modelo"
                id="modelo" 
                type="text" 
                [(ngModel)]="veiculo.modelo"
                class="form-control">
            </textarea>
            <div *ngIf="f['modelo'].touched && f['modelo'].invalid" class="alert alert-danger">
                <div *ngIf="f['modelo'].errors && f['modelo'].errors['required']">modelo is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="marca">Marca:</label>
            <input 
                formControlName="marca"
                type="text" 
                [(ngModel)]="veiculo.marca"
                class="form-control">
            <div *ngIf="f['marca'].touched && f['marca'].invalid" class="alert alert-danger">
                <div *ngIf="f['marca'].errors && f['marca'].errors['required']">marca is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="descricao">Descricao:</label>
            <input 
                formControlName="descricao"
                type="text" 
                [(ngModel)]="veiculo.descricao"
                class="form-control">
            <div *ngIf="f['descricao'].touched && f['descricao'].invalid" class="alert alert-danger">
                <div *ngIf="f['descricao'].errors && f['descricao'].errors['required']">descricao is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="estado_conservacao">Estado de Conservação:</label>
            <input 
                formControlName="estado_conservacao"
                type="text" 
                [(ngModel)]="veiculo.estado_conservacao"
                class="form-control">
            <div *ngIf="f['estado_conservacao'].touched && f['estado_conservacao'].invalid" class="alert alert-danger">
                <div *ngIf="f['estado_conservacao'].errors && f['estado_conservacao'].errors['required']">estado_conservacao is required.</div>
            </div>
        </div>
         
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>